<ul class="nav nav-tabs">
  <% @categories.each_with_index do |category, i| %>
    <% if i == 0 %>
      <li role="presentation" class="active" id="list"><a><%= category.name %></a></li>
    <% else %>
      <li role="presentation" id="list"><a><%= category.name %></a></li>
    <% end %>
  <% end %>
</ul>
