.category {
  height: 6%;
  width: 100%;
  background-color: rgb(255,255,255);
  text-align: center;
}

.category a {
  color: rgb(143,143,143);
}

.category .active {
  color: rgb(55,173,233)
}

.main {
  background-color: rgb(246,246,246)
}