// Place all the styles related to the goods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  $blue : rgb(55,173,233);
  $gray : rgb(221,221,221);
  $red  : rgb(236, 0, 19);


html {
  background-color: $gray;
}

.header {
  background-color: $blue;
  text-align: center;
  position: relative;
  height: 50px;
  border-bottom: 1px rgb(46,147,197);
}

.logo {
  font-size: 30px;
  display:inline-block;
  margin: 0 auto;
  position: relative;
  }

.logo .img {
  display: inline;
}

.logo a{
  color: white;
  text-decoration: none;
}

.dropdown {
  // display: inline;
  color :white;
  font-size: 25px;
  display: inline;
  position: absolute;
  right: 15%;
  padding-top: 8px;
}