  $blue : rgb(55,173,233);
  $gray : rgb(221,221,221);
  $red  : rgb(236, 0, 19);
  $red_delete : rgb(255,101,127);

.user {
  .botton {
      margin-top: 20px;
      // height: 100%;
      display: inline-block;
      color: $blue;
      background-color: white;
      width: 48%;
      padding: 2px 6px 3px;
      border: thin solid $blue;
      border-radius: 10px;
      outline: 0;
      text-align: center;
      line-height: 44px;
      text-decoration: none;
      font-size: 20px;
  }
  .edit {
    float: left;
  }
  .delete {
    float: right;
    color: $red_delete;
    border: thin solid $red_delete;
  }
}
