<div class="contents row">
  <h2>カテゴリー管理</h2>
  <br>
  <%= render @categories %>
  <span class="_category"><hr></span>
  <%= link_to "カテゴリーを追加する", new_category_path, :class => 'enter form_height' %>
</div>
