<div class="contents row">
  <%= form_for(@category, url: categories_path) do |f| %>
    <h2>カテゴリー名を入力してください</h2>

    <div class="form-group">
    <%= f.text_field :name, placeholder: "カテゴリー名", class: "form-control form_height" %>
    </div>

    <%= f.submit "登録する", class: "submit form_height" %>
  <% end %>
</div>
